################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CandidateExercise/ConfigurationExcerciseTests/bin/Debug
/CandidateExercise/ConfigurationExcerciseTests/obj
/CandidateExercise/ConfigurationExercise/.localhistory
/CandidateExercise/ConfigurationExercise/.vs/ConfigurationExercise
/CandidateExercise/ConfigurationExercise/obj/Debug
/CandidateExercise/ConfigurationExercise/obj/Release
/CandidateExercise/ConfigurationExercise/packages
/CandidateExercise/ConfigurationExercise/bin/Debug
